.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 4px 12px;
    border-radius: 16px;
}

.rating--low {
    background-color: var(--color-rating-low);
}

.rating--medium {
    background-color: var(--color-rating-medium);
}

.rating--high{
    background-color: var(--color-rating-high);
}

.rating--max{
    background-color: var(--color-rating-max);
}